<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="/css/myfonts.css"/>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/mainpage.css"/>
    <link rel="stylesheet" href="/css/productcard.css"/>
    <link rel="stylesheet" href="/css/cartstyles.css"/>
    <link rel="stylesheet" href="/css/orderstyles.css"/>

    <link rel="stylesheet" asp-href-include="~/fontawesome-free-6.6.0-web/css/all.css" />

    <title>DemoDrinkShop</title>
</head>
<body>
    <div role="navigation" class="topbar">
        <a href="#" style="font-family: 'Kiak'">DEMO DRINK SHOP</a>
       <div class="top-interactive">
            <div class="cart-size-box"></div>
            <div id="categories">
                @await Component.InvokeAsync("NavigationMenu")
            </div>
            @await Component.InvokeAsync("CartSummary")
        </div>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
