@using DemoDrinkShop.Models
@model Cart
<div class="cart-size-box">
    @if (Model.Lines.Count() > 0)
    {
        <p class="cart-summary-text">
            <b>Your cart:</b>
            @Model.Lines.Sum(x => x.Quantity) item(s)
            @Model.ComputeTotalValue().ToString("c")
        </p>
    }
    <a class="cart-element"
       asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fas fa-shopping-basket fa-2x"></i>
    </a>
</div>
